@import 'https://fonts.googleapis.com/css?family=Montserrat|Source+Sans+Pro';

$title-font: 'Montserrat', sans-serif;
$default-font: 'Source Sans Pro', sans-serif;

$reset-margin: 0;
$reset-padding: 0;

$content-width: 98%;
$content-height: 98%;

.reset {
	margin: $reset-margin;
	padding: $reset-padding;
}

body {
	font-family: $default-font;
}

h1 {
    @extend .reset;
    font-family: $title-font;
    font-size: 300%;
}

h2 {
    @extend .reset;
    font-size: 100%;
}

#main-content-wrapper {
    position: absolute;
    width: $content-width;
    height: $content-height;
    text-align: center;
}

#main-content {
    display: inline-block;
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;
}

#icons {
    margin-top: 15px;
}

.icon {
    margin-right: 10px;
}