:root {
  --color-neutral: 253, 252, 254;
  --color-neutral-50: 251, 250, 252;
  --color-neutral-100: 247, 246, 249;
  --color-neutral-200: 239, 237, 243;
  --color-neutral-300: 225, 222, 232;
  --color-neutral-400: 192, 185, 205;
  --color-neutral-500: 150, 140, 170;
  --color-neutral-600: 120, 108, 145;
  --color-neutral-700: 95, 80, 125;
  --color-neutral-800: 75, 60, 105;
  --color-neutral-900: 58, 45, 85;
  
  --color-primary-50: 252, 251, 253;
  --color-primary-100: 248, 246, 250;
  --color-primary-200: 240, 237, 244;
  --color-primary-300: 223, 218, 235;
  --color-primary-400: 195, 185, 215;
  --color-primary-500: 162, 148, 190;
  --color-primary-600: 133, 115, 165;
  --color-primary-700: 108, 88, 142;
  --color-primary-800: 86, 65, 120;
  --color-primary-900: 68, 48, 98;
}

/* styling for inlined code, e.g. `code here` */
code:not(pre code) {
  background-color: rgba(var(--color-primary-200), 0.3);
  color: rgb(var(--color-primary-800));
  padding: 0.2em 0.4em;
  border-radius: 3px;
  font-size: 0.9em;
}
